@font-face {
    font-family: Nue;
    src: url(SDSImages/64d3dd9edfb41666c35b15bf_NeueHaasDisplay-Mediu.woff);
}

@font-face {
    font-family: Nue2;
    src: url(SDSImages/64d3dd9edfb41666c35b15c0_NeueHaasDisplay-Roman.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFEAE3;
    color: black;
    font-family: Nue;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: clip;
}

#main-container {
    position: relative;
}

#page1 {
    width: 100%;
    height: max-content;
    padding: 0vh 2vw;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    padding: 5vh 0vw 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
    width: 150px;
}

nav #menu-list {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btns {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.300);
    padding: 1.5vh 1.8vw;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

.btns h5 {
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: capitalize;
    font-family: Nue2;
    position: relative;
    z-index: 5;
}

.btns:hover h5 {
    color: white;
}
.menubtn{
    cursor: pointer;
}
.btns::before {
    content: "";
    width: 1vw;
    background-color: black;
    height: 4vh;
    padding: 1.5vh 1.8vw;
    position: absolute;
    top: 100%;
    border-radius: 50%;
    transition: all ease .3s;
    z-index: 2;
}

.btns:hover::before {
    width: 100%;
    border-radius: 0%;
    top: 0vh;
    transition: all ease .3s;
}

.btns:nth-child(4) {
    display: none;
}

.menuIcon {
    margin-right: 1vw;
}

#menuTab {
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.507);
    position: fixed;
    top: -100%;  
    left: 0;
    z-index: 10;
    display: none;
}
#cancel{
    cursor: pointer;
    font-size: 2rem;
}
#menulist{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right:2vw ;
    
}
#menulist h3 {
    cursor: pointer;
    background-color: transparent;
    text-align: right;
    font-size: 3rem;
    font-family: Nue2;
    position: relative;
}
#menulist h3::before{
    content: "";
    width: 0;
    height: 1vh;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s ease-in-out;
}
#menulist h3:hover::before{
    width: 100%;
}

#box {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24vh;
    padding-bottom: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.300);
}

#left {
    width: 28vw;
    height: max-content;
}

#left p {
    line-height: 2vw;
    font-size: 1.5rem;
}

#right h1 {
    letter-spacing: -0.3vw;
    font-size: 10rem;
    line-height: 8rem;
    text-align: right;
}

#shape-box {
    width: 60%;
    height: 50vh;
    background-image: linear-gradient(to top, #FE320A, #fe800a);
    position: absolute;
    right: 0vw;
    top: 95vh;
    position: absolute;
    filter: blur(20px);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

#shape1 {
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(to top, #FE320A, #fe800a);
    border-radius: 50%;
    position: absolute;
    top: 0vh;
    left: 0;
    filter: blur(20px);
    animation: anime1 3s ease-in-out 0s infinite alternate;
}

#shape2 {
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(to top, #FE320A, #fe800a);
    border-radius: 50%;
    position: absolute;
    top: 10vh;
    left: 30%;
    filter: blur(20px);
    animation: anime2 5s ease-in-out 0s infinite alternate;
}

#shape3 {
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(to top, #FE320A, #fe800a);
    border-radius: 30%;
    position: absolute;
    top: -10vh;
    left: 80%;
    filter: blur(20px);
    animation: anime3 3s ease-in-out 0s infinite alternate;
}

@keyframes anime1 {
    to {
        transform: translate(-20%, -10%) rotate(20deg);
    }
}

@keyframes anime2 {
    to {
        transform: translate(10%, -35%) rotate(10deg);
    }
}

@keyframes anime3 {
    to {
        transform: translate(0%, 30%) rotate(150deg);
    }
}

#page1 video {
    width: 100%;
    margin-top: 10vh;
    border-radius: 20px;
    position: relative;
    z-index: 5;
}

#page2 {
    width: 100%;
    min-height: 100vh;
    padding: 10vh 0vw 0vh;
    position: relative;
    z-index: 2;
}

#moving-text {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: flex;
    align-items: center;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 8rem;
    display: inline-block;
}

#dot {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-box {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 20vh 0vh;
}

#box-left {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 0vw 5vw;
    position: relative;
    z-index: 1;
}

#box-left h2 {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 10vh;
    z-index: 5;
    background-color: transparent;
}

#page2-shape {
    width: 30vw;
    height: 30vw;
    background-image: linear-gradient(to top, #FE320A, #fe800a);
    position: absolute;
    border-radius: 50%;
    z-index: 4;
    filter: blur(20px);
    top: 10%;
    left: 40%;
    animation: anime4 10s ease-in-out 0s infinite alternate;
}

@keyframes anime4 {
    0% {
        transform: skewX(358deg);
    }

    20% {
        transform: translate(0%, 0%) skewX(10deg) skewY(15deg);
    }

    40% {
        transform: skewX(0deg);
    }

    60% {
        transform: translate(10%, -5%) skewX(0deg) skewY(0deg);
    }

    80% {
        transform: skewX(5deg);
    }

    100% {
        transform: translate(5%, 5%) skewY(350deg);
    }
}

#box-right {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0vw 3vw;
}

#box-right img {
    width: 100%;
    border-radius: 10px;
}

#box-right p {
    font-size: 1rem;
    font-family: Nue2;
    font-weight: 100;
}

#page3 {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#page3 h4,
#page5 h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Nue2;
    font-weight: 100;
    padding: 0vh 2vw;
    position: relative;
    z-index: 2;
    font-size: 1rem;
}

#page3 h4 span,
#page5 h4 span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
}

#fixed-image {
    width: 25%;
    height: 60vh;
    position: fixed;
    left: 50%;
    top: 30%;
    border-radius: 15px;
    background: url(SDSImages/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.webp);
    display: none;
    z-index: 99;
    background-position: center;
    background-size: cover;
}

#fixed-video {
    width: 100%;
    height: 100%;
    background-color: transparent;
    object-fit: cover;
    display: none;
    border-radius: 15px;
}

.page3-IV {
    display: none;
}

#work-elements {
    width: 100%;
    height: max-content;
    margin-top: 10vh;
}

#work-elements .element {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.300);
    padding: 5vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#work-elements .element h2 {
    background-color: transparent;
    font-size: 3.2rem;
    z-index: 5;
}

#work-elements .element .details {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10vw;
    height: max-content;
    background-color: transparent;
    padding: 0vh;
    z-index: 5;
}

#work-elements .element .details h4 {
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: Nue2;
    font-weight: 500;
    padding: 0vh;
}

#work-elements .element .details p {
    display: flex;
    background-color: transparent;
    align-items: center;
    font-family: Nue2;
    font-weight: 100;
    padding: 0vh;
    opacity: .3;
    font-size: 1rem;
    text-transform: uppercase;
}

.layer {
    width: 100%;
    height: 0%;
    background-color: #FF9831;
    transition: all .3s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 0%;
}

#work-elements .element:hover .layer {
    height: 100%;
}

#page4 {
    width: 100%;
    min-height: 100vh;
    padding: 20vh 2vw 10vh;
    position: relative;
}

#page4-box {
    width: 100%;
    height: 100vh;
    display: flex;
    border-radius: 20px;
    background-color: black;
}

#page4-left {
    width: 40%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0vh 7vw;
}

#page4-left .heading {
    background-color: transparent;
    color: white;
    font-size: 4.5rem;
    position: relative;
    opacity: .5;
    cursor: pointer;
    margin-left: 1vw;
}

#page4-left .heading span {
    display: inline-block;
    width: 5px;
    height: 90%;
    background-color: white;
    position: absolute;
    top: 0;
    left: -1vw;
}

#page4-left .active-heading {
    opacity: 1;
}

#page4-left .active-heading span {
    background-color: red;
}

.text {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    display: none;
    font-family: Nue2;
    margin-top: 2vh;
}

.activeTab {
    display: block;
}

#page4-right {
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#page4-right .right-img {
    position: absolute;
}

.active-img {
    z-index: 5;
}

#page5 {
    width: 100%;
    min-height: 50vh;
    padding: 0vh 10vh 10vh;
    position: relative;
}

#mouse {
    width: 100px;
    height: 100px;
    background-color: #FE320A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 50;
    display: none;
    cursor: none;
}

.swiper {
    width: 100%;
    height: max-content;
    margin-top: 10vh;
}

.swiper-slide {
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vh;
    border-left: 1px solid rgba(0, 0, 0, 0.300);
}

.swiper-slide p {
    text-align: left;
    font-family: Nue2;
    font-weight: 100;
    font-size: 1rem;
}

.swiper-slide img {
    display: block;
    width: 150px;
    object-fit: cover;
    margin-bottom: 3vh;
}

#page6 {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

#footer {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0%;
    left: 0;
    gap: 25vh;
    z-index: 0;
    background-color: black;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sq1 {
    width: 30vw;
    height: 60vw;
    position: absolute;
    transform: rotate(60deg);
    top: -68%;
    left: -7%;
    background-image: linear-gradient(to top, red, #FE320A, #fe800a);
    filter: blur(40px);
    animation: anime5 5s ease-in-out 0s infinite alternate;
    z-index: -5;
}

#sq2 {
    width: 30vw;
    height: 60vw;
    position: absolute;
    transform: rotate(297deg);
    top: -68%;
    right: 6%;
    background-image: linear-gradient(to top, red, #FE320A, #fe800a);
    filter: blur(40px);
    animation: anime6 3s ease-in-out 0s infinite alternate;
    z-index: -5;
}

@keyframes anime5 {
    0% {
        border-radius: 0%;
    }

    50% {
        border-radius: 0%;
        transform: rotate(70deg) scaleY(1.5);
    }

    100% {
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        top: -10%;
        left: 10%;
        transform: rotate(0deg) scaleY(1);
    }

}

@keyframes anime6 {
    100% {
        border-radius: 30%;
        transform: rotate(280deg) scaleY(1.5);
    }
}

#top {
    width: 100%;
    background-color: transparent;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw 0vh 5vw;
}

#footer-left {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

#footer-left h4 {
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
}

#footer-right p {
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
    font-family: Nue2;

}

#footer-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
}

#footer-right input {
    width: 100%;
    height: 5vh;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    font-family: Nue2;
}

::placeholder {
    color: white;
    font-size: 1.3rem;
}

#bottom {
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

#sundown {
    width: 100%;
    height: 15vh;
    margin-top: 5%;
    background-color: transparent;
    color: white;
    font-size: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

#links {
    width: 100%;
    height: max-content;
    padding: 5vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#links h4,
#links a {
    font-size: 1rem;
    background-color: transparent;
    color: white;
    font-family: Nue2;
}