@media screen and (max-width:850px) {
    #right h1 {
        font-size: 8rem;
        line-height: 6rem;
    }

    #left p {
        line-height: 2vw;
        font-size: 1rem;
    }

    #page4-left .heading {
        font-size: 3rem;
    }

    .text {
        font-size: .8rem;
    }

    #left h4 {
        font-size: 2rem;
    }

    #right p {
        font-size: 1rem;
    }

    ::placeholder {
        font-size: 1rem;
    }

    #center {
        height: 40vh;
        margin-top: 14%;
    }

    #sq1,
    #sq2 {
        top: -40%;
    }

}

@media screen and (max-width:650px) {
    #fixed-image {
        width: 50vw;
        height: 40vh;
        left: 45%;
        top: 45%;

    }

    nav img {
        width: 100px;
    }

    #box {
        width: 100%;
        margin-top: 25vh;
        padding-bottom: 5vh;
    }

    #shape-box {
        top: 80vh;
    }

    #page1 video {
        margin-top: 5vh;
    }

    #right h1 {
        font-size: 6.5rem;
        line-height: 5rem;
    }

    #left p {
        width: 100%;
        line-height: 2vw;
        font-size: 1rem;
    }

    #moving-text h1 {
        font-size: 5rem;
    }

    #dot {
        height: 50px;
        width: 50px;
    }

    #page2-box {
        padding: 20vh 4vh;
    }

    #box-left {
        width: 60%;
        padding: 0vw 0vw;
    }

    #page2-shape {
        width: 40vw;
        height: 40vw;
    }

    #box-left h2 {
        font-size: 2.5rem;
        line-height: 8vh;
    }

    #box-right {
        width: 40%;
        padding: 0vw 3vw;
    }

    #work-elements .element h2 {
        font-size: 2rem;
    }

    #page3 h4,
    #page5 h4 {
        font-size: .8rem;
    }

    #work-elements .element .details p {
        font-size: .8rem;
    }

    #page4-box {
        height: 80vh;
    }

    #page4-left {
        padding: 0vh 4vw;
    }

    #page4-left .heading {
        font-size: 2rem;
    }

    #center {
        margin-top: 18%;
    }
}

@media screen and (max-width:550px) {
    .btns {
        padding: 1.5vh 3.8vw;
    }
    #left p {
        line-height: 2vw;
        font-size: .8rem;
    }

    #right h1 {
        line-height: 4.5rem;
        font-size: 5.5rem;
    }

    #page2-box {
        width: 100%;
        height: max-content;
        display: flex;
        padding: 15vh 0vh;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    #box-left {
        width: 90%;
        padding: 0vw 0vw;
    }

    #box-right {
        flex-direction: row;
        gap: 30px;
        width: 90%;
        padding: 0vw 3vw;
    }

    #box-right img {
        width: 50%;
        border-radius: 10px;
    }

    #page4-box {
        width: 100%;
        height: 90vh;
        gap: 10px;
        flex-direction: column;
    }

    #page4-left {
        width: 100%;
        padding: 4vh 4vw 1vh;
    }

    #page4-right {
        width: 100%;
        display: flex;
        height: 65vh;
        border-radius: 20px;
        align-items: center;
    }

    #page5 {
        width: 100%;
        min-height: 50vh;
        padding: 0vh 2vh 5vh;
        position: relative;
    }

    .swiper-slide {
        height: max-content;
        padding: 0vh 0vh 0vh 1vh;
    }

    .swiper-slide img {
        width: 100px;
    }

    .swiper-slide p {
        font-size: .8rem;
    }
}

@media screen and (max-width:450px) {
    #top {
        padding: 5vh 5vw 0vh 5vw;
    }

    #sq2 {
        width: 43vw;
        top: -15%;
    }

    #sq1 {
        width: 50vw;
        height: 50vw;
        top: -10%;
    }

    #footer-left h4 {
        font-size: 1.5rem;
    }

    #footer-right p {
        font-size: 1rem;
    }

    #center {
        margin-top: 45%;
        height: 29vh;
    }

    #bottom h4,
    #bottom a {
        font-size: .7rem;
    }

    .btns:nth-child(4) {
        display: block;
    }

    .btns:nth-child(1),
    .btns:nth-child(2),
    .btns:nth-child(3) {
        display: none;
    }

    .btns {
        padding: 1.5vh 4.8vw;
    }

    .btns:hover::before {
        width: 25vw;
        left: 0;
        top: 0vh;
    }

    #box {
        flex-direction: column-reverse;
    }

    #left {
        width: 100%;
    }

    #left p {
        width: 60%;
        line-height: 5vw;
        font-size: 1.2rem;
    }

    #right {
        width: 100%;
    }

    #right h1 {
        line-height: 4rem;
        font-size: 5.5rem;
    }

    #shape-box {
        top: 70vh;
    }

    #moving-text h1 {
        font-size: 3rem;
    }

    #dot {
        height: 30px;
        width: 30px;
    }

    #page2-shape {
        width: 80vw;
        height: 80vw;
        left: 15%;
    }
    
    #work-elements .element h2 {
        font-size: 1.5rem;
    }

    #box-right {
        flex-direction: column;
    }

    #box-right img {
        width: 80%;
        border-radius: 10px;
    }

}

@media screen and (max-width:350px) {
    #footer-left h4 {
        font-size: 1.5rem;
    }

    #footer-right p {
        font-size: .8rem;
    }

    ::placeholder {
        font-size: .8rem;
    }

    #center {
        margin-top: 63%;
        height: 29vh;
    }

    #page4-left {
        padding: 6vw 6vw 1vh;
    }

    #page4-left .heading span {
        top: 0;
        left: -2vw;
    }
}
